<%- include('header') -%>

<% if (typeof user !== 'undefined' && user && user.firstName) { %>
    <h1>Hello <%= user.firstName %></h1>
<% } else { %>
    <h1>Hello dear</h1>
<% } %>

<h2>Welcome to JobVista</h2>

<% if (typeof user !== 'undefined' && user) { %>
    <form action="/logout" method="POST">
        <p>Leaving? <button type="submit">Logout</button></p>
    </form>
<% } else { %>
    <p>Don't have an account? <a href="/signup">Register here</a></p>
    <p>Already have an account? <a href="/login">Login here</a></p>
<% } %>
<p>View profile <a href="/profile">here</a></p>


<%- include('footer') -%>