<%- include('header') -%>




    <div class="container w-25 border text-center py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Account Login</h2>
            <span>Login for existing user</span>
        </div>
        <form action="/login" method="POST" class="pt-3">
            <div class="form-outline mb-2">
                <input type="email" class="form-control"id="email"  name="email">
                 <label class="form-label" for="email">Email address</label>
            </div>
            <div class="form-outline">
                <input type="password" class="form-control" id="password" name="password">
                    <label class="form-label" for="password">Password</label>
            </div>
              <div class="text-end mt-2 mb-4">
            <button type="submit" class="btn btn-success text-end rounded-pill">Submit</button>
            </div>
        </form>
      
        <p>Don't have an account? <a href="/signup">Register here</a></p>
<p>Go <a href="/">Home</a></p>
    </div>



<%- include('footer') -%>