<%- include('header') -%>



<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item  active" aria-current="page">Login</li>
  </ol>
</nav>

<section class="vh-100 w-100" style="background-color: #9de2ff;">
    <div class="container w-25 border text-center py-5 bg-light">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Account Login</h2>
            <span>Login for existing user</span>
        </div>
        <form action="/login" method="POST" class="pt-3">
            <div class="form-outline mb-2">
                <input type="email" class="form-control"id="email"  name="email">
                 <label class="form-label" for="email">Email address</label>
            </div>
            <div class="form-outline">
                <input type="password" class="form-control" id="password" name="password">
                    <label class="form-label" for="password">Password</label>
            </div>
              <div class="text-end mt-2 mb-4">
            <button type="submit" class="btn btn-success text-end rounded-pill">Submit</button>
            </div>
        </form>
      
        <p>Don't have an account? <a href="/signup">Register here</a></p>
<p>Go <a href="/">Home</a></p>
    </div>
    </section>



<%- include('footer') -%>