<%- include('header') -%>
<h1>Hello <%- user.firstName -%></h1>

<p>Edit profile <a href="/edit">edit</a></p>
<p>Go <a href="/">Home</a></p>

<p>Leaving? <a href="/logout">Logout</a></p>

<%- include('footer') -%>