<%- include('header') -%>


<div class="text-center">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Signup</h2>
            <span>Signup for a new user</span>
        </div>
        <form action="/signup" method="POST" class="pt-3" enctype="multipart/form-data">
            <div class="form-outline mb-2">
                <input type="firstName" class="form-control" id="fname"  name="firstName">
                  <label class="form-label" for="fname">First Name</label>
            </div>
            <div class="form-outline mb-2">
                <input type="lastName" class="form-control" id="lname"  name="lastName">
                  <label class="form-label" for="lname">Last Name</label>

            </div>
            <div class="form-outline mb-2">
                <input type="email" class="form-control" id="email"  name="email">
                  <label class="form-label" for="email">Email</label>

            </div>
            <div class="form-outline mb-2">
                <input type="password" class="form-control" id="password"   name="password">
                  <label class="form-label" for="password">Password</label>

            </div>
            <div class="form-outline mb-2">
                <input type="phoneNo" class="form-control" id="phoneNo"  name="phoneNo">
                  <label class="form-label" for="phoneNo">Phone Number</label>

            </div>
            <div class="form-outline mb-2">
                <input type="address" class="form-control" id="address"  name="address">
                  <label class="form-label" for="address">Address</label>

            </div>
             <div class="form-outline mb-2">
                <input type="address" class="form-control" id="occupation"  name="occupation">
                  <label class="form-label" for="occupation">Occupation</label>
            </div>
            <div class="form-outline mb-2">
                <input type="address" class="form-control" id="skills"  name="skills">
                  <label class="form-label" for="skills">Skills(separated by comma(,))</label>
            </div>
              <div class="form-outline mb-2">
                 <label class="form-label" for="avatar">Avatar</label>
                <input type="file" class="form-control" id="avatar"  name="avatar">
            </div>

            <div class="form-outline mb-2">
                 <label class="form-label" for="resume">Resume/CV</label>
                <input type="file" class="form-control" id="resume"  name="resume">
            </div>
           <div class="text-end mt-2 mb-4">
            <button type="submit" class="btn btn-success text-end rounded-pill">Submit</button>
            </div>
              </form>
              <p>Already have an account? <a href="/login">Login here</a></p>
<p>Go <a href="/">Home</a></p>
    </div>
</div>


<%- include('footer') -%>